In [51]:
from netCDF4 import Dataset
import numpy as np
import pandas as pd

In [52]:
data = Dataset(r"C:\Users\Priyanshu\Downloads\NetCDF_python\netcdf_files\APHRO_MA_TAVE_025deg_V1808.1961.nc", "r")
data

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4 data model, file format HDF5):
    title: APHRO_MA V1808 daily temperature with 0.25deg grids
    dimensions(sizes): lon(360), lat(280), time(365)
    variables(dimensions): float64 lon(lon), float64 lat(lat), float64 time(time), float32 tave(time, lat, lon), float32 rstn(time, lat, lon)
    groups:

In [53]:
data.variables.keys()

dict_keys(['lon', 'lat', 'time', 'tave', 'rstn'])

In [54]:
lon = data.variables['lon']
lat = data.variables['lat']
time = data.variables['time']
tave = data.variables['tave']
# print(lon, lat, time, rstn)
# print(lon.dimensions, lat.dimensions, time.dimensions, rstn.dimensions)

In [55]:
lat_data = lat[:]
lon_data = lon[:]
time_data = time[:]
tave_data = tave[:]

chd_lat = 30.7333
chd_lon = 76.7794

In [56]:
squared_diff_lat = (lat_data-chd_lat)**2
squared_diff_lon = (lon_data-chd_lon)**2

min_diff_lat_idx = squared_diff_lat.argmin()
min_diff_lon_idx = squared_diff_lon.argmin()

In [57]:
start_date = time.units[14:24]
end_date = time.units[14:19] + "12-31"
date_range = pd.date_range(start = start_date, end = end_date)

df = pd.DataFrame(0, columns=['temperature'], index = date_range)
df

            temperature
1961-01-01            0
1961-01-02            0
1961-01-03            0
1961-01-04            0
1961-01-05            0
...                 ...
1961-12-27            0
1961-12-28            0
1961-12-29            0
1961-12-30            0
1961-12-31            0

[365 rows x 1 columns]

In [58]:
for i in range(0, time_data.size):
    df.iloc[i] = tave_data[i, min_diff_lat_idx, min_diff_lon_idx]

In [61]:
df.to_csv("chd_temp_avg_1961.csv")